.links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #BAA24F;
    text-decoration: none;
    padding-right: 58px;
    padding-left: 58px;
    padding-top: 58px;
    padding-bottom: 58px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.paragraph {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #BAA24F;
    padding-left: 20px;
    padding-right: 100px;
    display: inline-block;
}

.video {
    padding-left: 100px;
    float: left;
}

.story {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #BAA24F;
    padding-left: 140px;
    padding-right: 140px;
}

.cast {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-left: 50px;
}

.flex-container {
    display: flex;
    justify-content: center;
}
