.links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #BAA24F;
    text-decoration: none;
    padding-right: 58px;
    padding-left: 58px;
    padding-top: 58px;
    padding-bottom: 58px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.paragraph {
    position: absolute;
    width: 539px;
    height: 392px;
    left: 741px;
    top: 468px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #BAA24F;
    padding-top: 50px;
    padding-left: 20px;
}

.story {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #BAA24F;
    padding-left: 140px;
    padding-right: 140px;
}
/*
* {
    outline: red solid 1px;
}*/

.cast {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #BAA24F;
    text-decoration: none;
}

.video {
    padding-left: 100px;
}
